.main-feed-page {
    background-color: #1a1a1a;
    min-height: 100vh;
}

.search-results {
    margin-top: 12px;
    padding: 0px;
    background-color: grey;
    border-radius: 8px;
    color: white;
    list-style-type: none;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    max-width: 300px;
}

.search-results li {
    display: flex;
    padding: 8px 12px;
    border-bottom: 1px solid #333;
    transition: background-color 0.2s;
    cursor: pointer;
    align-items: center;
    gap: 10px;
}

.search-results li:last-child {
    border-bottom: none;
}

.search-results li:hover {
    background-color: #2d2d2d;
}

.post-style {
    margin-left: 600px;
    margin-right: 600px;
}

.post-nickName {
    background-color: #333333;
    height: 50px;
    width: 300px;
    align-content: center;
}