.main-feed-page {
    background-color: black;
}

.search-results {
    margin-top: 12px;
    padding: 0px;
    background-color: #1f1f1f;
    border-radius: 8px;
    color: white;
    list-style-type: none;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    max-width: 300px;
}

.search-results li {
    display: flex;
    padding: 8px 12px;
    border-bottom: 1px solid #333;
    transition: background-color 0.2s;
    cursor: pointer;
    align-items: center;
    gap: 10px;
}

.search-results li:last-child {
    border-bottom: none;
}

.search-results li:hover {
    background-color: #2d2d2d;
}